apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "auth-provider.fullname" . }}-migration
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
data:
{{- range $path, $_ := .Files.Glob "migrations/**.sql" }}
  {{ $path | base }}: |-
{{ $.Files.Get $path | indent 4 }}
{{- end }}
